* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*font-weight: bold;*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: black;
}


a {
    text-decoration: none;
    padding: 10px 20px;
    border: 0.5px solid rgb(251, 255, 0);
    background: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
    color: black;
}

a:hover {
    box-shadow: 3px 2px 3px rgba(252, 252, 251, 0.719);
}