@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


:root{
  --cor-fundo: black;
  --cor-fundo-invertido: white;
  --cor-texto: white;
  --cor-texto-invertido: black;
  --cor-fundo-2: #1f1f1f;
  --cor-svg: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background: var(--cor-fundo)
}

.logo {
    width: 33%;
    padding: 8px;
}

.logo a svg:hover {
    cursor: pointer;
}

.header-center {
    display: flex;
    flex-direction: row;
    width: 33%;
    padding: 8px;
}

.header-right {
    width: 33%;
    padding: 8px;
}

.logo a svg {
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    fill: var(--cor-svg);
    margin-left: 20px;
}

.home-button {
    background: var(--cor-fundo-2);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button a svg {
    fill: none;
    height: 24px;
    width: 24px;
    stroke: #b3b3b3;
    stroke-width: 2px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 96%;
    background: var(--cor-fundo-2);
    margin: 0 8px;
    border-radius: 24px;
}

.search-bar form {
    width: 100%;
}

.search-bar-lupa svg {
    fill: #b3b3b3;
    height: 24px;
    width: 24px;
    stroke: none;
    stroke-width: 1px;
    margin-left: 15px;
    margin-top: 2px;
}

.container-navegar {
    height: 24px;
    width: 24px;
}

.search-bar-input {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search-bar-input input {
    background: none;
    border: none;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

.search-bar-shortcut {
    display: none;
    flex-direction: row;
    justify-content: center;
}

.search-bar-shortcut p {
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
}

.fechar-botao {
    display: flex;
}